In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [28]:
dataset = pd.read_csv(r"SMS_spam_detector_dataset.csv", encoding='latin1')
# dataset = pd.read_csv(r"SMS_spam_detector_dataset.csv")

In [29]:
dataset

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [30]:
dataset = dataset.iloc[:,:2]
dataset

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [31]:
dataset['v1'].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [33]:
dataset['v1'] = dataset['v1'].replace({'ham': 0,'spam' : 1})

C:\Users\kuldeep\AppData\Local\Temp\ipykernel_9884\178888100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['v1'] = dataset['v1'].replace({'ham': 0,'spam' : 1})

In [34]:
dataset

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [35]:
y = dataset['v1']
x = dataset['v2']

In [36]:
# x = x.str.lower()
# x

In [37]:
# import nltk
# from nltk.tokenize import word_tokenize
# nltk.download('punkt')

In [38]:
x = x.astype(str)
# x = x.apply(word_tokenize)
# x

In [39]:
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

# Convert text to lowercase, remove special characters, tokenize, remove stop words, and perform stemming
x_preprocessed = []
stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()

for text in x:
    # Convert text to lowercase
    text = text.lower()
    
    # Remove special characters, numbers, and punctuation
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    
    # Tokenize the text
    tokens = word_tokenize(text)
    
    # Remove stop words
    tokens = [word for word in tokens if word not in stop_words]
    
    # Stemming
    tokens = [stemmer.stem(word) for word in tokens]
    
    # Join the tokens back into a single string
    preprocessed_text = ' '.join(tokens)
    
    x_preprocessed.append(preprocessed_text)


tfidf_vectorizer = TfidfVectorizer()
x = tfidf_vectorizer.fit_transform(x_preprocessed)

In [40]:
# for check values in x_preprocessed
x_preprocessed[0:6]

['go jurong point crazi avail bugi n great world la e buffet cine got amor wat',
 'ok lar joke wif u oni',
 'free entri wkli comp win fa cup final tkt st may text fa receiv entri questionstd txt ratetc appli over',
 'u dun say earli hor u c alreadi say',
 'nah dont think goe usf live around though',
 'freemsg hey darl week word back id like fun still tb ok xxx std chg send rcv']

In [41]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x_preprocessed,y,train_size=0.7)

In [43]:
x_train[0:6]

['uncl atlanta wish guy great semest',
 'pleas send aunti number',
 'consid wall bunker shit import never play peac guess place high enough dont matter',
 'yeah that thought lem know anyth goin later',
 'win shop spree everi week start play text store skilgm tsc winawk age perweeksub',
 'dint touch']

In [44]:
x_test[0:6]

['thank like well',
 'armand say get ass epsilon',
 'plane give month end',
 'hi way u day normal waythi real ur uniquei hope know u rest mylif hope u find wot lost',
 'ok shell ok guess',
 'sri cant talk phone parent']

In [233]:
y_train

191     0
1423    0
3030    0
3772    0
3209    0
       ..
3776    1
1206    1
443     0
4519    0
4505    0
Name: v1, Length: 3900, dtype: int64

In [234]:
y_test

2639    0
2724    0
1668    0
828     0
5293    0
       ..
5203    0
2273    0
4308    0
1661    0
1448    1
Name: v1, Length: 1672, dtype: int64

In [235]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

x_train_tfidf = tfidf.fit_transform(x_train)
x_test_tfidf = tfidf.transform(x_test)

In [239]:
x_train_tfidf

<3900x5783 sparse matrix of type '<class 'numpy.float64'>'
	with 31754 stored elements in Compressed Sparse Row format>

In [240]:
x_test_tfidf

<1672x5783 sparse matrix of type '<class 'numpy.float64'>'
	with 12013 stored elements in Compressed Sparse Row format>

In [241]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

rfc = RandomForestClassifier(random_state=1)
lr = LogisticRegression()
nb = MultinomialNB()

model1 = rfc.fit(x_train_tfidf,y_train)
model2 = lr.fit(x_train_tfidf,y_train)
model3 = nb.fit(x_train_tfidf,y_train)

In [242]:
y_pred1 = model1.predict(x_test_tfidf)
y_pred2 = model2.predict(x_test_tfidf)
y_pred3 = model3.predict(x_test_tfidf)

In [243]:
from sklearn.metrics import accuracy_score, mean_squared_error,mean_absolute_error, classification_report
print(accuracy_score(y_pred1,y_test))
print(accuracy_score(y_pred2,y_test))
print(accuracy_score(y_pred3,y_test))

0.9778708133971292
0.9712918660287081
0.9742822966507177

In [244]:
print(mean_squared_error(y_pred1,y_test))
print(mean_squared_error(y_pred2,y_test))
print(mean_squared_error(y_pred3,y_test))

0.022129186602870814
0.028708133971291867
0.025717703349282296

In [245]:
print(mean_absolute_error(y_pred1,y_test))
print(mean_absolute_error(y_pred2,y_test))
print(mean_absolute_error(y_pred3,y_test))

0.022129186602870814
0.028708133971291867
0.025717703349282296

In [246]:
print("Classification Report for RandomForestClassifier:")
print(classification_report(y_test, y_pred1))

print("Classification Report for Logistic Regression:")
print(classification_report(y_test, y_pred2))

print("Classification Report for Naice Bayes:")
print(classification_report(y_test, y_pred3))

Classification Report for RandomForestClassifier:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1479
           1       0.99      0.81      0.89       193

    accuracy                           0.98      1672
   macro avg       0.98      0.91      0.94      1672
weighted avg       0.98      0.98      0.98      1672

Classification Report for Logistic Regression:
              precision    recall  f1-score   support

           0       0.97      1.00      0.98      1479
           1       0.98      0.77      0.86       193

    accuracy                           0.97      1672
   macro avg       0.98      0.88      0.92      1672
weighted avg       0.97      0.97      0.97      1672

Classification Report for Naice Bayes:
              precision    recall  f1-score   support

           0       0.97      1.00      0.99      1479
           1       0.99      0.78      0.88       193

    accuracy                           0.97      1672
   macro avg       0.98      0.89      0.93      1672
weighted avg       0.97      0.97      0.97      1672